# QUESTION 1

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [862]:
A1=requests.get("https://en.wikipedia.org/wiki/Main_Page")
soup=BeautifulSoup(A1.content)
h1=soup.find('h1',class_="firstHeading mw-first-heading")
h2=soup.find('h2',class_="mp-h2")
h3=soup.find('h3',class_="vector-menu-heading")
print(h1.text)
print(h2.text)
print(h3.text)

Main Page
From today's featured article

Personal tools

# QUESTION 2

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [863]:
Q=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
soup=BeautifulSoup(Q.content)
name=[]
for i in soup.find_all('td',class_='titleColumn'):
    name.append(i.text)
year=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year.append(i.text)
rating=[]
for i in soup.find_all('td',class_='ratingColumn imdbRating'):
    rating.append(i.text)
df=pd.DataFrame({"movie":name, "rating":rating, "year":year})
df['movie']=df['movie'].str.replace(r'\W',"")
df['rating']=df['rating'].str.replace(r'\W',"")
df.head(100)

                               movie rating    year
0        1TheShawshankRedemption1994     92  (1994)
1                  2TheGodfather1972     92  (1972)
2                 3TheDarkKnight2008     90  (2008)
3            4TheGodfatherPartII1974     90  (1974)
4                    512AngryMen1957     90  (1957)
..                               ...    ...     ...
95                 96CitizenKane1941     83  (1941)
96  97MEineStadtsuchteinenMörder1931     83  (1931)
97            98LawrenceofArabia1962     83  (1962)
98            99NorthbyNorthwest1959     82  (1959)
99                    100Vertigo1958     82  (1958)

[100 rows x 3 columns]

# QUESTION 3

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [864]:
q3=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
soup=BeautifulSoup(q3.content)
name=[]
for i in soup.find_all('td',class_='titleColumn'):
    name.append(i.text)
rating=[]
for i in soup.find_all('td',class_='ratingColumn imdbRating'):
    rating.append(i.text)
year=[]
for i in soup.find_all('span',class_='secondaryInfo'):
    year.append(i.text)
df2=pd.DataFrame({'movie_name':name,'rating':rating,'year':year})
df2['movie_name']=df2['movie_name'].str.replace(r'\W',"")
df2['rating']=df2['rating'].str.replace(r'\W',"")
df2.head(100)

                            movie_name rating    year
0   1RamayanaTheLegendofPrinceRama1993     85  (1993)
1          2RocketryTheNambiEffect2022     84  (2022)
2                      3777Charlie2022     84  (2022)
3                         4Golmaal1979     84  (1979)
4                         5Nayakan1987     84  (1987)
..                                 ...    ...     ...
95                 96KaakkaaMuttai2014     80  (2014)
96                    97UstadHotel2012     80  (2012)
97        98TheeranAdhigaaramOndru2017     80  (2017)
98                 99RangDeBasanti2006     80  (2006)
99                       100Angoor1982     80  (1982)

[100 rows x 3 columns]

# QUESTION 4

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [866]:
q4=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup=BeautifulSoup(q4.content)
president_name=[]
for i in soup.find_all('div',class_='presidentListing'):
    president_name.append(i.text)
df3=pd.DataFrame({'NAME_OF_THE_PRESIDENT':president_name})
df3['NAME_OF_THE_PRESIDENT']=df3['NAME_OF_THE_PRESIDENT'].str.replace(r'\W',"")
df3

                                NAME_OF_THE_PRESIDENT
0   ShriRamNathKovindbirth1945TermofOffice25July20...
1   ShriPranabMukherjee19352020TermofOffice25July2...
2   SmtPratibhaDevisinghPatilbirth1934TermofOffice...
3   DRAPJAbdulKalam19312015TermofOffice25July2002t...
4   ShriKRNarayanan19202005TermofOffice25July1997t...
5   DrShankarDayalSharma19181999TermofOffice25July...
6   ShriRVenkataraman19102009TermofOffice25July198...
7   GianiZailSingh19161994TermofOffice25July1982to...
8   ShriNeelamSanjivaReddy19131996TermofOffice25Ju...
9   DrFakhruddinAliAhmed19051977TermofOffice24Augu...
10  ShriVarahagiriVenkataGiri18941980TermofOffice3...
11  DrZakirHusain18971969TermofOffice13May1967to3M...
12  DrSarvepalliRadhakrishnan18881975TermofOffice1...
13  DrRajendraPrasad18841963TermofOffice26January1...

# QUESTION 5

FIRST

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [867]:
q5=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(q5.content)
team=[]
for i in soup.find_all('span',class_='u-hide-phablet'):
    team.append(i.text)
df4=pd.DataFrame({'team':team})
rating=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
df_new=pd.DataFrame({'rating':rating})
rat=[]
for i in soup.find_all('td',class_='rankings-block__banner--rating u-text-right'):
    rat.append(i.text)    
rat1=pd.DataFrame({'rating':rat})
rat1['rating']=rat1['rating'].str.replace(r'\W',"")
r=pd.concat([rat1,df_new],ignore_index=True)

matches=[]
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    matches.append(i.text)
m=pd.DataFrame({'matches':matches})
matches=m.iloc[[0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36],[0]]
matcha=[]
for i in soup.find_all('td',class_='rankings-block__banner--matches'):
    matcha.append(i.text)
match1=pd.DataFrame({'matches':matcha})
match=pd.concat([match1,matches],ignore_index=True)
point=[]
for i in soup.find_all('td',class_='rankings-block__banner--points'):
    point.append(i.text)
pda=pd.DataFrame({'points':point})
points=[]
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    points.append(i.text)
pda1=pd.DataFrame({'points':points})
pdaa=pda1.iloc[[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37],[0]]
pt=pd.concat([pda,pdaa],ignore_index=True)
r1=pd.merge(df4,match,right_index=True,left_index=True)
r2=pd.merge(r1,pt,right_index=True,left_index=True)
r3=pd.merge(r2,r,right_index=True,left_index=True)
r3.head(10)

           team matches points rating
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      35  3,866    110
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      30  2,753     92
7     Sri Lanka      30  2,677     89
8   Afghanistan      19  1,380     73
9   West Indies      41  2,902     71

SECOND

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [868]:
q5b=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup=BeautifulSoup(q5b.content)
batsman=[]
for i in soup.find_all('div',class_='rankings-block__banner--name'):
    batsman.append(i.text)
bat=pd.DataFrame({'batsman':batsman})
b=bat.head(1)
batmans=[]
for i in soup.find_all('td',class_='table-body__cell name'):
    batmans.append(i.text)
bats=pd.DataFrame({'batsman':batmans})
bats['batsman']=bats['batsman'].str.replace(r'\W',"")
batter=pd.concat([b,bats],ignore_index=True)
team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    team.append(i.text)
t=pd.DataFrame({'team':team})
t['team']=t['team'].str.replace(r'\W',"")
teams=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    teams.append(i.text)
te=pd.DataFrame({'team':teams})
teamss=pd.concat([t,te],ignore_index=True)
rank=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    rank.append(i.text)
r=pd.DataFrame({'rank':rank})
rr=r.head(1)
ranks=[]
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    ranks.append(i.text)
ra=pd.DataFrame({'rank':ranks})
ratting=pd.concat([rr,ra],ignore_index=True)
p1=pd.merge(batter,teamss,right_index=True,left_index=True)
p2=pd.merge(p1,ratting,right_index=True,left_index=True)
p2.head(10)

              batsman    team rank
0          Babar Azam  PAK890  890
1           ImamulHaq   NZ760  779
2  RassievanderDussen  BAN372  766
3       QuintondeKock  PAK890  759
4         DavidWarner   NZ760  747
5          SteveSmith  BAN372  719
6       JonnyBairstow     PAK  710
7          ViratKohli      SA  707
8         RohitSharma      SA  704
9      KaneWilliamson     AUS  701

THIRD

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [869]:
q5c=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup=BeautifulSoup(q5c.content)
p=[]
for i in soup.find_all('div',class_='rankings-block__banner--name'):
    p.append(i.text)
pf=pd.DataFrame({'player':p})
p2=pf.loc[1]
p3=pd.DataFrame({'players':p2})
ps=[]
for i in soup.find_all('td',class_='table-body__cell name'):
    ps.append(i.text)
psf=pd.DataFrame({'players':ps})
psf['players']=psf['players'].str.replace(r'\W',"")
psm=psf.loc[9:19]
player=pd.concat([p3,psm],ignore_index=True)
t=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    t.append(i.text.split())
tf=pd.DataFrame({'teams':t})
t2=tf.loc[1]
t3=pd.DataFrame({'teams':t2})
ts=[]
for i in soup.find_all('td',class_='table-body__cell nationality-logo'):
    ts.append(i.text.split())
tsf=pd.DataFrame({'teams':ts})
tsfm=tsf.loc[9:19]
teams=pd.concat([t3,tsfm],ignore_index=True)
r=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    r.append(i.text)
rf=pd.DataFrame({'rank':r})
rf2=rf.loc[1]
rf3=pd.DataFrame({'rank':rf2})
rs=[]
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rs.append(i.text)
rsf=pd.DataFrame({'rank':rs})
rs2=rsf.loc[9:17]
rank=pd.concat([rf3,rs2],ignore_index=True)
bow=pd.merge(player,teams,right_index=True,left_index=True)
bow1=pd.merge(bow,rank,right_index=True,left_index=True)
bow1

            players      teams rank
0       Trent Boult  [NZ, 760]  760
1     JoshHazlewood      [AUS]  727
2     MitchellStarc      [AUS]  665
3     ShaheenAfridi      [PAK]  661
4         MattHenry       [NZ]  656
5         AdamZampa      [AUS]  655
6       MehediHasan      [BAN]  655
7    MujeebUrRahman      [AFG]  650
8  MustafizurRahman      [BAN]  640
9        RashidKhan      [AFG]  635

# QUESTION 6

FIRST

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [870]:
q6=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(q6.content)
ts=[]
for i in soup.find_all('span',class_='u-hide-phablet'):
    ts.append(i.text.split())
tsf=pd.DataFrame({'team':ts})
ms=[]
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    ms.append(i.text)
msf=pd.DataFrame({'matches':ms})
match=msf.iloc[[0,2,4,6,8.10,12,14,16,18,20,22],[0]]
m=[]
for i in soup.find_all('td',class_='rankings-block__banner--matches'):
    m.append(i.text)
mf=pd.DataFrame({'matches':m})
matches=pd.concat([mf,match],ignore_index=True)
p=[]
for i in soup.find_all('td',class_='rankings-block__banner--points'):
    p.append(i.text)
pf=pd.DataFrame({'points':p})
ps=msf.iloc[[1,3,5,7,9,11,13,15,17,19,21,23],[0]]
ps.rename(columns={'matches':'points'},inplace=True)
point=pd.concat([pf,ps],ignore_index=True)
r=[]
for i in soup.find_all('td',class_='rankings-block__banner--rating u-text-right'):
    r.append(i.text.split())
rf=pd.DataFrame({'rating':r})
rs=[]
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rs.append(i.text)
rsf=pd.DataFrame({'rating':rs})
rating=pd.concat([rf,rsf],ignore_index=True)
wt=pd.merge(tsf,matches,right_index=True,left_index=True)
wt1=pd.merge(wt,point,right_index=True,left_index=True)
wt2=pd.merge(wt1,rating,right_index=True,left_index=True)
wt2

               team matches points rating
0       [Australia]      18  3,061  [170]
1   [South, Africa]      26  3,098    119
2         [England]      25  2,904    116
3           [India]      27  2,820    104
4    [New, Zealand]      24  2,425    101
5    [West, Indies]      24  2,334     97
6      [Bangladesh]       8    932     78
7        [Thailand]      24    572     72
8        [Pakistan]       8  1,519     63
9      [Sri, Lanka]      14    353     44
10        [Ireland]       9    548     39
11    [Netherlands]       8      0      0

SECOND

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [871]:
q6c=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup=BeautifulSoup(q6c.content)
p=[]
for i in soup.find_all('div',class_='rankings-block__banner--name'):
    p.append(i.text)
pf=pd.DataFrame({'players':p})
pp=pf.head(1)
ps=[]
for i in soup.find_all('td',class_='table-body__cell name'):
    ps.append(i.text)
psf=pd.DataFrame({'players':ps})
psf['players']=psf['players'].str.replace(r'\W',"")
players=pd.concat([pp,psf],ignore_index=True)
t=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    t.append(i.text)
tf=pd.DataFrame({'teams':t})
tf['teams']=tf['teams'].str.replace(r'\W',"")
tt=tf.head(1)
ts=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    ts.append(i.text)
tsf=pd.DataFrame({'teams':ts})
tsf['teams']=tsf['teams'].str.replace(r'\W',"")
teams=pd.concat([tt,tsf],ignore_index=True)
r=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    r.append(i.text)
rf=pd.DataFrame({'rating':r})
rf['rating']=rf['rating'].str.replace(r'\W',"")
rft=rf.head(1)
rs=[]
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rs.append(i.text)
rsf=pd.DataFrame({'rating':rs})
rank=pd.concat([rft,rsf],ignore_index=True)
w=pd.merge(players,teams,right_index=True,left_index=True)
w1=pd.merge(w,rank,right_index=True,left_index=True)
w1.head(10)

              players   teams rating
0        Alyssa Healy  AUS785    785
1          BethMooney     AUS    749
2      LauraWolvaardt      SA    732
3       NatalieSciver     ENG    725
4     HarmanpreetKaur     IND    716
5      SmritiMandhana     IND    714
6          MegLanning     AUS    710
7       RachaelHaynes     AUS    701
8    AmySatterthwaite      NZ    661
9  ChamariAthapaththu      SL    655

THIRD

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [872]:
pf1=pf.iloc[1]
pf2=pd.DataFrame({'players':pf1})
psf2=psf.iloc[9:18]
players=pd.concat([pf2,psf2],ignore_index=True)
tf2=tf.iloc[1]
tf3=pd.DataFrame({'teams':tf2})
tn=tsf.iloc[9:18]
team=pd.concat([tf3,tn],ignore_index=True)
rf2=rf.iloc[1]
rf3=pd.DataFrame({'rating':rf2})
rsf2=rsf.iloc[9:18]
rating=pd.concat([rf3,rsf2],ignore_index=True)
table=pd.merge(players,team,right_index=True,left_index=True)
table1=pd.merge(table,rating,right_index=True,left_index=True)
table1

              players   teams rating
0   Sophie Ecclestone  ENG739    739
1        JessJonassen     AUS    725
2         MeganSchutt     AUS    722
3       ShabnimIsmail      SA    722
4       JhulanGoswami     IND    698
5      HayleyMatthews      WI    671
6           KateCross     ENG    657
7       AyabongaKhaka      SA    634
8  RajeshwariGayakwad     IND    617
9       MarizanneKapp      SA    598

# QUESTION 7

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [873]:
page=requests.get('https://www.cnbc.com/world/?region=world')
soup=BeautifulSoup(page.content)
head=[]
for i in soup.find_all('div',class_='RiverHeadline-headline RiverHeadline-hasThumbnail'):
    head.append(i.text)
time=[]
for i in soup.find_all('span',class_='RiverByline-datePublished'):
    time.append(i.text)
t=pd.DataFrame({'time':time})

data=soup.find_all('div',class_='RiverHeadline-headline RiverHeadline-hasThumbnail')
link=[]
for i in data:
    tlink=i.find('a')['href']
    link.append(tlink)
news=pd.DataFrame({'heading':head,'links':link})
News=pd.merge(news,t,right_index=True,left_index=True)
News

,heading,links,time
0,Dow sheds more than 100 points as investors di...,https://www.cnbc.com/2022/11/29/stock-market-f...,11 min ago
1,Elon Musk says the Fed must cut rates ‘immedia...,https://www.cnbc.com/2022/11/30/elon-musk-says...,11 min ago
2,"As Wall Street gets bearish, these global stoc...",/pro/,23 min ago
3,Singapore's deputy prime minister calls FTX lo...,https://www.cnbc.com/2022/11/30/ftx-loss-is-di...,23 min ago
4,Transitory inflation talk is back. But economi...,https://www.cnbc.com/2022/11/30/transitory-inf...,5 hours ago
5,Biden's Inflation Reduction Act makes green hy...,https://www.cnbc.com/2022/11/30/the-ira-makes-...,5 hours ago
6,Goldman Sachs' Currie says oil stocks are trad...,/pro/,2 hours ago
7,These are shaping up to be the best and worst ...,https://www.cnbc.com/2022/11/29/dubai-miami-to...,2 hours ago

# QUESTION 8

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [874]:
q8=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup=BeautifulSoup(q8.content)
downloads=[]
for i in soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    downloads.append(i.text)
author=[]
for i in soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    author.append(i.text)
date=[]
for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    date.append(i.text)
data=soup.find_all('li',class_='sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs')
links=[]
for i in data:
    plink=i.find('a')['href']
    links.append(plink)
article=pd.DataFrame({'DOWNLOADS':downloads,'AUTHORS':author,'DATE':date,'LINK':links})
article

,DOWNLOADS,AUTHORS,DATE,LINK
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# QUESTION 9

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [875]:
q9=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup=BeautifulSoup(q9.content)
name=[]
for i in soup.find_all('a',class_='restnt-name ellipsis'):
    name.append(i.text)
cuisine=[]
for i in soup.find_all('span',class_='double-line-ellipsis'):
    cuisine.append(i.text.split('|')[1])
price=[]
for i in soup.find_all('span',class_='double-line-ellipsis'):
    price.append(i.text.split('|')[0])
loc=[]
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    loc.append(i.text)
img=[]
for i in soup.find_all('img',class_='no-img'):
    img.append(i.get('data-src'))
details=pd.DataFrame({'NAME':name,'CUISINE':cuisine,'PRICE':price,'LOCATION':loc,'IMAGE':img})
details

,NAME,CUISINE,PRICE,LOCATION,IMAGE
0,Castle Barbeque,"Chinese, North Indian","₹ 2,000 for 2 (approx)","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","₹ 1,680 for 2 (approx)","3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","₹ 3,000 for 2 (approx)","The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","₹ 2,000 for 2 (approx)","Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","₹ 1,700 for 2 (approx)","Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","₹ 2,400 for 2 (approx)","Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"₹ 1,800 for 2 (approx)","Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"₹ 1,900 for 2 (approx)","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","₹ 2,200 for 2 (approx)","Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...

# QUESTION 10

In [ ]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [876]:
q10=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup=BeautifulSoup(q10.content)
rank=[]
for i in soup.find_all('td',class_='gsc_mvt_p'):
    rank.append(i.text)
pub=[]
for i in soup.find_all('td',class_='gsc_mvt_t'):
    pub.append(i.text)
h5=[]
for i in soup.find_all('a',class_='gs_ibl gsc_mp_anchor'):
    h5.append(i.text)
h5m=[]
for i in soup.find_all('span',class_='gs_ibl gsc_mp_anchor'):
    h5m.append(i.text)
google=pd.DataFrame({'RANK':rank,'PUBLICATION':pub,'H5-INDEX':h5,'H5-MEDIUM':h5m})
google

    RANK                                        PUBLICATION H5-INDEX H5-MEDIUM
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]